body{
    margin: 0;
}

/*Nav*/

.row{
    font-size: calc((clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))* 13);
    font-weight: 700;
    letter-spacing: calc((clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))* .9);
    line-height: calc((clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))* 29);
    text-transform: uppercase;
}

.header_menu{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 25%;
    height: 100px;
}

.menu_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25%;
    padding: 10px 20px;
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 18px;
    display: block;
}

.banner {
    background-image: url(img/Pizza.png);
    height: 900px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Promotion*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .promotion {
    text-align: center;
    margin: 20px 0;
  }
  
  .promotion h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    width: calc(33.333% - 20px);
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
  }

  
  .card-price {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }

  /*About us*/ 

  .about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propos h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}

.about_description p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
    background: linear-gradient(135deg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about_description p:last-child {
    margin-bottom: 0;
}

/* Info */ 

.map-container {
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 5rem;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.map-info {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    z-index: 1;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.days-info ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.days-info li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #333;
    letter-spacing: 2px;
}

.days-info .days {
    font-weight: bold;
    padding: 0 5rem 0 0;
}

.days-info .hours {
    margin-left: 10px;
}

.days-info h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #444;
    text-align: center;
}
